extends layouts/_layout

block variables
	-title = 'Главная'

block content

	//begin main
	main.main

		//begin screen
		+b.SECTION.screen(style='background-image: url(img/bg/screen_bg.png)')
			+e.IMG.decor-rect._1(src='img/decor/rect_md-1.png' alt='image')
			+e.IMG.decor-rect._2(src='img/decor/rect_md-2.png' alt='image')
			+e.IMG.decor-rect._3(src='img/decor/rect_md-3.png' alt='image')
			+e.IMG.section-label.section-label(src='img/labels/farming-label.svg' alt='image')
			+e.container.container
				+e.row.row
					+e.col.col(data-anim-stagger="fade-x")
						+e.H2.title.title-lg Майнинг — это легко!
						+e.P.descr С нами ты можешь заработать больше, чем можешь себе представить.
							br
							| Мы принимаем любые суммы
							br
							| в рублях, начиная от 1 000
							+e.SPAN.descr-currency ₽
							| .
						+e.btn-wrap
							+btn('b', 'ХОЧУ КОНСУЛЬТАЦИЮ', '_orange js-scroll-to')
					+e.col.col(data-anim="fade-x")
						+b.calc-block
							+e.actions
								+e.H4.title Рассчитай СВОЙ доход
								+e.item.js-range
									+e.item-top
										+e.item-text
											+e.H5.item-title Сколько майнить
											+e.P.item-descr Какую сумму денег ты готов вложить?
										+e.display
											+e.INPUT.display-count.js-range-result(type='text' value='')
											+e.display-label ₽
									+e.range-wrap
										+b.INPUT.js-range-input(type='text' name='mining-funds' data-min-value='1000' data-max-value='90000' data-default-value='25000' data-step='1000' value='')
										+e.range-labels
											+e.SPAN.range-labels-text 1 000 ₽
											+e.SPAN.range-labels-text 90 000 ₽

								+e.item.js-range
									+e.item-top
										+e.item-text
											+e.H5.item-title Время
											+e.P.item-descr Как долго майнить?
										+e.display
											+e.INPUT.display-count.js-range-result(type='text' value='')
											+e.display-label час.
									+e.range-wrap
										+b.INPUT.js-range-input(type='text' name='mining-time' data-min-value='10' data-max-value='180' data-default-value='90' data-step='1' value='')
										+e.range-labels
											+e.SPAN.range-labels-text 10 час.
											+e.SPAN.range-labels-text 180 час.
							+e.info
								+e.info-row
									+e.info-col
										+e.H6.info-title Выбери свою валюту
										+b.SELECT.js-custom-select.custom-select-sm
											option BTC
											option HTC
											option Samsung

									+e.info-col
										+e.H6.info-title._right Итог майнинга *
										+e.result 154 000
								+e.P.info-descr Окончательная сумма майнинга может быть больше, итоговый доход мы рассчитаем тебе по ходу консультации по телефону или при личной встрече.
							// можно переключать состояние "специального предложения" добавлением класса .suggest-block.is-active
							+b.suggest-block
								+e.P.text Ты решил вложить в майнинг
								+e.sum 319 000
									span ₽
								+e.P.text У нас есть для тебя
								+e.H3.title специальное предложение
								+e.P.text Оставь номер телефона, и мы перезвоним тебе через несколько минут и всё расскажем!
								+e.FORM.form(action='#!' method='POST')
									+b.form-field._transparent.suggest-block__form-field
										+e.INPUT.input(type='text' name='' placeholder='+7 000 000-00-00' required)
								+btn('b', 'ПЕРЕЗВОНИТЬ МНЕ', '_lilac')

		//end screen

		//begin quotations
		+b.SECTION.quotations
			+b.section-label._text КОТИРОВКИ
			+e.container.container
				+b.section-title.quotations__section-title(data-anim-stagger="fade-y")
					+e.icon.icon-chart
					+e.H3.text текущие котировки валют
				+e.chart-wrap(data-anim="fade-y" data-anim-delay='0.8')
					+b.chart
						+e.nav
							button.chart__nav-arr.chart__nav-arr_prev(type='button')
								+i('arr-down')
							button.chart__nav-arr.chart__nav-arr_next(type='button')
								+i('arr-down')

						+e.tabs
							+e.tabs-item
								+e.tabs-item-data(data-title='BTC' data-descr='Bitcoin')
								+e.CANVAS.body
							+e.tabs-item
								+e.tabs-item-data(data-title='ETH' data-descr='Ethereum')
								+e.CANVAS.body
							+e.tabs-item
								+e.tabs-item-data(data-title='XRP' data-descr='Ripple')
								+e.CANVAS.body
							+e.tabs-item
								+e.tabs-item-data(data-title='BTC' data-descr='Bitcoin')
								+e.CANVAS.body
							+e.tabs-item
								+e.tabs-item-data(data-title='ETH' data-descr='Ethereum')
								+e.CANVAS.body
							+e.tabs-item
								+e.tabs-item-data(data-title='XRP' data-descr='Ripple')
								+e.CANVAS.body
							+e.tabs-item
								+e.tabs-item-data(data-title='BTC' data-descr='Bitcoin')
								+e.CANVAS.body
							+e.tabs-item
								+e.tabs-item-data(data-title='ETH' data-descr='Ethereum')
								+e.CANVAS.body
							+e.tabs-item
								+e.tabs-item-data(data-title='XRP' data-descr='Ripple')
								+e.CANVAS.body
							+e.tabs-item
								+e.tabs-item-data(data-title='BTC' data-descr='Bitcoin')
								+e.CANVAS.body
							+e.tabs-item
								+e.tabs-item-data(data-title='ETH' data-descr='Ethereum')
								+e.CANVAS.body
						+e.label._y стоимость валюты
						+e.label._x ВАЛЮТА
							span USD
		//end quotations
			
		//begin start
		+b.SECTION.start#start
			+e.IMG.decor-rect(src='img/decor/start-rect.png' alt='image')
			+e.IMG.section-label.section-label(src='img/labels/start-label.svg' alt='image')
			+e.user._1.icon-user_1
			+e.user._2.icon-user_2
			+e.user._3.icon-user_3
			+e.container.container
				+e.row.row
					+e.col.col(data-anim-stagger="fade-x")
						+e.H2.title.title-lg Как начать майнить
						+e.descr
							+e.P.descr-text Облачный майнинг — процесс добычи киптовалюты с использованием удаленного центра обработки данных с общей вычислительной мощностью. Это позволяет пользователям майнить криптовалюту без огромных затрат на оборудование и электричество. Вы просто выбираете желаемую мощность и получаете доход.
							+e.P.descr-text Каждые 24 часа или по завершению контракта вы будете получать добытую криптовалюту на свой электронный кошелёк соразмерно количеству арендованной мощности.
						+e.btn-wrap
							+btn('b', 'ХОЧУ КОНСУЛЬТАЦИЮ', '_orange js-scroll-to')

					+b.steps.start__col.col(data-anim-stagger="fade-x")
						-
							stepsList = [
							['doc', 'Мы заключаем с тобой официальный договор с гарантией доходности. Подписываем его, распиваем шампанское. Ты выбираешь, на какой срок и какую сумму ты готов вложить.'],
							['graph', 'Ты начинаешь зарабатывать с помощью нашего крутого оборудования в первый же день. По всем вопросам ты всегда можешь позвонить нам. А следить за курсами ты можешь на этом сайте.'],
							['coins', 'Первые выплаты на ваш кошелек поступят спустя час, которые ты можешь вывести любым удобным способом: на расчетный счет, на карточный счет, на любой электронный кошелек.']
							]
						for stepsItem, i in stepsList
							+e.item(class= `_${i + 1}`)
								+e.item-count= `${i + 1}`
								+e.item-icon-wrap
									+e.item-icon(class= `icon-${stepsItem[0]}`)
								+e.item-text
									p= stepsItem[1]
		//end start

		//begin earn
		+b.SECTION.earn#earn(style='background-image: url(img/bg/earn_bg.jpg)')
			+e.container.container
				+e.row.row
					+e.col(data-anim-stagger="fade-x")
						+e.H2.title.title-lg._orange Как добываем валюту мы
						+e.descr
							+e.P.descr-text Облачный майнинг — процесс добычи киптовалюты с использованием удаленного центра обработки данных с общей вычислительной мощностью. Это позволяет пользователям майнить криптовалюту без огромных затрат на оборудование и электричество. Вы просто выбираете желаемую мощность и получаете доход.
							+e.P.descr-text Каждые 24 часа или по завершению контракта вы будете получать добытую криптовалюту на свой электронный кошелёк соразмерно количеству арендованной мощности.
						+e.btn-wrap
							+btn('b', 'ХОЧУ КОНСУЛЬТАЦИЮ', '_orange js-scroll-to')
					+e.col
						+b.stat-block.earn__stat(data-anim="fade-x")
							+e.inner(data-anim-stagger="fade-x")
								+e.top
									+e.H4.title реальная статистика
									+e.P.descr Все данные представленные здесь являются реальными и берутся непосредственно с нашего оборудования из секретной серверной комнаты
								+e.row
									+e.item
										+e.H6.item-title._hash Hashrate
										+e.item-inner
											+e.item-hash-count 300,7
											+e.item-hash-text KH/s
									+e.item
										+e.H6.item-title._earn Заработано за 24 часа
										+e.item-inner
											+e.item-earn-count ₽
												span 500000
											+e.item-earn-text BTC 0,000234
											+e.item-earn-text USD 25,99
									+e.item
										+e.H6.item-title._share Valid Shares
										+e.item-inner
											+e.item-share-count 146 (100%)
											+e.item-share-text /
											+e.item-share-text 0 (0%)

								+e.P.descr._has-anim Все обрудование находится под надежным контролем и круглосуточным наблюдением.
								+e.btn-wrap
									+btn('b', 'ОБНОВИТЬ ДАННЫЕ', '_transparent stat-block__btn')
		//end earn
			
		//begin partner
		+b.SECTION.partner#partner(style='background-image: url(img/bg/partner_bg.jpg)')
			+e.container.container
				+b.section-title.partner__section-title(data-anim-stagger="fade-y")
					+e.icon.icon-handshake
					+e.H3.text хочешь стать нашим партнёром?

				+e.slider.slider.js-partner-slider(data-anim="fade-y" data-anim-delay='.5')
					-i = 0
					while i < 3
						+e.slider-item
							+e.slider-item-inner
								+e.item
									+e.H4.item-title Как правильно подобрать валюту?
									+e.P.item-descr Малому бизнесу нужны деньги, но нет способа получить их просто. У обычных людей есть деньги, и они хотели бы, чтобы они работали. «Поток» соединяет две группы. Клиенты банка инвестируют собственные деньги в компании, а компании получают деньги в режиме онлайн.
								+e.item
									+e.H4.item-title Как устроен процесс?
									+e.P.item-descr «Поток» создаёт правовые отношения между инвесторами и компаниями, а банк обеспечивает перевод денег. Деньги инвесторов поступают компаниям в виде займа. Компании возвращают деньги с процентами.

						+e.slider-item
							+e.slider-item-inner
								+e.item
									+e.H4.item-title Как отбираются компании?
									+e.P.item-descr В «Альфа-Банке» обслуживается более 300 000 компаний малого бизнеса. На основе данных об этих компаниях создана скоринговая система, которая оценивает компании и предлагает лучших инвесторам.
								+e.item
									+e.H4.item-title Как быстро я заработаю денег?
									+e.P.item-descr «Поток» создаёт правовые отношения между инвесторами и компаниями, а банк обеспечивает перевод денег. Деньги инвесторов поступают компаниям в виде займа. Компании возвращают деньги с процентами.
						-i++
		//end partner

		//begin news
		+b.SECTION.news
			+e.IMG.decor-rect._1(src='img/decor/rect_sm.png' alt='image')
			+e.IMG.decor-rect._2(src='img/decor/rect_sm.png' alt='image')
			+e.IMG.decor-rect._3(src='img/decor/rect_sm.png' alt='image')
			+e.container.container
				+b.section-title.news__section-title(data-anim-stagger="fade-y")
					+e.icon.icon-newspaper
					+e.H3.text наши майнинг ньюз

				+e.slider.slider.js-news-slider(data-anim="fade-y" data-anim-delay='.5')
					-
						newsList = [{
						img: '1',
						text: 'Курс биткоина удерживается выше $8000, другие криптовалюты подорожали',
						date1: '27/07',
						date2: '18:30'
						}, {
						img: '2',
						text: 'В Венесуэле грядет деноминация, нацвалюта будет привязана к криптовалюте петро',
						date1: '26/07',
						date2: '15:47'
						}, {
						img: '3',
						text: 'Мошенники воспользовались удалением расширения MetaMask из магазина Chrome',
						date1: '23/07',
						date2: '22:39'
						}, {
						img: '1',
						text: 'Курс биткоина удерживается выше $8000, другие криптовалюты подорожали',
						date1: '27/07',
						date2: '18:30'
						}, {
						img: '2',
						text: 'В Венесуэле грядет деноминация, нацвалюта будет привязана к криптовалюте петро',
						date1: '26/07',
						date2: '15:47'
						}, {
						img: '3',
						text: 'Мошенники воспользовались удалением расширения MetaMask из магазина Chrome',
						date1: '23/07',
						date2: '22:39'
						}]

					mixin newsItem(item)
						+e.A.item(href='#!')
							+e.DIV.item-img-wrap
								+e.IMG(src=`img/content/news_${item.img}.jpg` alt='image')
							+e.DIV.item-content
								+e.P.item-text= item.text
								+e.DIV.item-date
									span= item.date1
									span= item.date2
					each item in newsList
						+newsItem(item)
		//end news
			
		//begin begin
		+b.SECTION.begin.js-scroll-dest
			+e.container.container
				+e.top-text(data-anim-stagger="fade-y")
					+b.section-title.begin__section-title
						+e.H3.text НАЧНИ МАЙНИТЬ УЖЕ СЕЙЧАС
					+e.P.top-descr Связаться с нами очень просто, заполни форму
						br
						| и получи специальное предложение через несколько минут!

				+e.FORM.form.js-form(action='#!' method='POST')
					+e.form-row.row
						+e.form-col.col._md(data-anim="fade-x" data-anim-delay='0.3')
							+b.form-field.begin__form-field
								+e.INPUT.input(type='text' name='' placeholder='Как тебя зовут?' required)
							+b.form-field.begin__form-field
								+e.INPUT.input(type='text' name='' placeholder='Твой номер телефона' required)
							+b.form-field.begin__form-field
								+e.INPUT.input(type='text' name='' placeholder='Есть e-mail?')
						+e.form-col.col._md(data-anim="fade-x" data-anim-delay='0.3')
							+b.form-field.begin__form-field
								+e.TEXTAREA.form-textarea.textarea(placeholder='Напиши, если есть какие-то вопросы')
					+e.actions(data-anim-stagger="fade-y" data-anim-delay='0.6')
						+e.P.actions-agree Нажимая кнопку «Хочу майнить сейчас», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных
						+e.form-submit-wrap
							+e.INPUT.form-submit.btn._orange._lg(type='submit' value='ХОЧУ МАЙНИТЬ сейчас')
		//end begin

	//end main
